<div class="section">
    {% for project in projects %}
        <div class="slide">
            <div class="flex flex-col justify-center items-center h-screen">
                <div class="container">
                    <div class="bg-white p-8 rounded-3xl">
                        <div class="bg-gray-500 h-96 rounded-2xl pt-4 px-4 mb-4">
                            <img alt="{{ project.name }} image" src="{{ project.image.url }}" class="object-cover h-full w-full rounded-t-2xl">
                        </div>
                        <h3 class="text-black font-black text-xl mb-4">
                            {{ project.name }}
                        </h3>
                        <p class="leading-relaxed text-lg font-sans" style="color: rgb(31 24 19);">
                            {{ project.description }}
                        </p>
                        <div class="flex mt-3">
                            <div class="w-1/2 flex flex-row space-x-1">
                                {% for skill in project.skills.all %}
                                    <a href="{{ skill.url }}" target="_blank">
                                        <i class="{{ skill.icon_class }} text-lg" style="color: rgb(31 24 19);" aria-label="{{ skill.name }} icon"></i>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="w-1/2 text-right">
                                <a href="{{ project.url }}" target="_blank">
                                    <i class="fa-solid fa-globe text-lg" style="color: rgb(31 24 19);" aria-label="{{ project.name }} url"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>