{% load static %} 
{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Steven Ha</title>

    <!-- Meta Tags for SEO -->
    <meta name="description" content="Steven Ha's personal website showcasing portfolio, projects, and blog.">
    <meta name="keywords" content="Steven Ha, portfolio, projects, blog, web development, software engineering">
    <meta name="author" content="Steven Ha">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="Steven Ha">
    <meta property="og:description" content="Steven Ha's personal website showcasing portfolio, projects, and blog.">
    <meta property="og:url" content="https://www.steven-ha.com">
    <meta property="og:type" content="website">
    
    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% tailwind_css %}
    <link
      rel="stylesheet"
      type="text/css"
    />
    <!-- Font Awesome Free icons and utilities -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/favicon.gif' %}"
    />
  </head>
  <body>
    {% block content %} 
    {% endblock content %}
    <!-- JavaScript -->
    <!-- <script src="{% static 'js/base.js' %}"></script> -->
  </body>
</html>