<!-- TODO: Consider setting up lazyloading -->

{% extends "_base.html" %}

{% block content %}
{% if user_profile %}
    <div class="section">
        <div class="flex flex-col items-center justify-center h-screen">
            <div class="px-16">
                <img class="rounded-full" src="{{ user_profile.image.url }}" alt="{{ user_profile.name }}">
            </div>
            <div class="font-bold text-center">
                <h1 class="text-5xl md:text-6xl" style="line-height: 1.5;"> {{ user_profile.name }} </h1> 
                <h2 class="text-xl md:text-2xl">
                    <a href="{{ user_profile.resume_url }}" target="_blank"><u>Resume</u></a> 
                    | <a href="#projects"><u>Projects</u></a> 
                    | <a href="#skills"><u>Skills</u></a>
                </h2>
            </div>
        </div>
        {% if user_profile.social %}
            {% include 'snippets/_socials.html' %}
        {% endif %}
    </div>
    {% if projects %}
        {% include 'snippets/_projects.html' %}
    {% else %}
        {% include 'snippets/_under_construction' %}
    {% endif %}
    {% if skills %}
        {% include 'snippets/_skills.html' %}
    {% else %}
        {% include 'snippets/_under_construction' %}
    {% endif %}
{% else %}
    {% include 'snippets/_error_no_user_profile.html' %}
{% endif %}
{% endblock content %}
